
<h1>CMU T&E Member Portal </h1>
<h2>Profile Page</h2>

<h3>{{profile_data.first_name}} {{profile_data.last_name}}</h3>
<u><b>ID:</b></u> {{profile_data.id}}
<br>
<u><b>Name:</b></u> {{profile_data.first_name}} {{profile_data.last_name}}
<br>
<u><b>Email:</b></u> {{profile_data.email}}
<br>
<u><b>Linkedin:</b></u> {{profile_data.linkedin}}
<br>
<u><b>Twitter:</b></u> {{profile_data.twitter}}
<br>
<u><b>Current Role:</b></u> {{profile_data.current_role}}
<br>
<u><b>Company:</b></u> {{profile_data.company}}
<br>
<u><b>Chapter:</b></u> {{profile_data.chapter}}